.logo {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 600;
    color: #2A3556;
    margin-top: 100px;
    margin-bottom: 50px;
    display: inline-block;
}

.exercise-main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.exercise-container {
    padding-left: 10%;
}

.all-exercises {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
}


/* Responsive for mobile device */
@media screen and (max-width: 419.98px) {
    .exercises {

        padding-left: 0;
    }

    .logo {
        margin-top: 30px;
    }

    .exercise-main {
        display: grid;
        grid-template-columns: auto;
    }

    .exercise-container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .all-exercises {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 0;
    }

    .exdetalis-container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* Responsive for mobile device */
@media screen and (min-width: 420px) and (max-width: 575.98px) {
    .exercises {

        padding-left: 0;
    }

    .logo {
        margin-top: 30px;
    }

    .exercise-main {
        display: grid;
        grid-template-columns: auto;
    }

    .exercise-container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .all-exercises {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }

    .exdetalis-container {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 40px;
    }
}


/* Responsive for mobile-landscape device */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
    .exercises {
        padding-left: 0;
    }

    .logo {
        margin-top: 30px;
    }

    .exercise-main {
        display: grid;
        grid-template-columns: auto;
    }

    .exercise-container {
        max-width: 540px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .all-exercises {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }

    .exdetalis-container {
        width: 540px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 40px auto;
    }
}



/* Responsive for tablet device */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .exercise-container {
        padding-left: 15px;
    }
    .all-exercises {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        column-gap: 15px;
        margin-right: 15px;
    }
}

/* Responsive for laptop device */
@media screen and (min-width: 992px) and (max-width: 1199.98px){
    .exercise-container {
        padding-left: 15px;
    }
    .all-exercises {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        column-gap: 15px;
        margin-right: 15px;
    }
}
/* Responsive for desktop device */
@media screen and (min-width: 1200px) and (max-width: 1399.98px){
    .exercise-container {
        padding-left: 5%;
    }
    .all-exercises {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
        column-gap: 15px;
        margin-right: 15px;
    }
}