.exercises {
    padding-left: 10%;
    background-color: #E6E7E9;

}

.logo {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 600;
    color: #2A3556;
    margin-top: 100px;
    margin-bottom: 50px;
    display: inline-block;
}

.exercise-main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}