
.logo {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 600;
    color: #2A3556;
    margin-top: 100px;
    margin-bottom: 50px;
    display: inline-block;
}

.exercise-main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.exercise-container{
    padding-left: 10%;
}
.all-exercises {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
}

@media screen and (max-width: 575.98px) { 
    .exercises {
       
        padding-left: 0;
    }
    .logo {
       margin-top: 30px;
    }
    .exercise-main {
        display: grid;
        grid-template-columns: auto;
    }
.exercise-container{
    padding-left: 15px;
    padding-right: 15px;
}
   
 }