.exercise {
    width: 300px;
    background-color: #293654;
    height: 570px;
    border-radius: 5px;
    position: relative;

}

.exercise .exercise-image img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.exercise .exercise-info {
    padding: 20px;

}

.exercise .ex-title {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 20px;
}

.exercise .exercise-description {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    color: #CCCCCC;
}

.exercise .required-age {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 25px;
}

.exercise .required-time {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 10px;
}

.add-list-button {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    color: #293654;
    background-color: #ffffff;
    padding: 12px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 260px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    margin: 0 auto;

}

/* Responsvie for mobile device */
@media screen and (max-width: 419.98px) {
    .exercise {
        width: auto;
        margin-bottom: 20px;
        height: auto;

    }

    .required-time {
        margin-bottom: 100px;
    }

    .add-list-button {

        left: 50%;
        transform: translate(-50%);

    }
}

/* Responsvie for mobile device */
@media screen and (min-width: 420px) and (max-width: 575.98px) {
    .exercise {
        width: auto;
        height: auto;
        margin: 0 auto;

    }

    .required-time {
        margin-bottom: 100px;
    }

    .add-list-button {

        left: 50%;
        transform: translate(-50%);

    }

}

/* Responsvie for mobile-landscape device */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
    .exercise {
        width: auto;
        height: auto;
        margin: 0 auto;
    }

    .required-time {
        margin-bottom: 100px;
    }

    .add-list-button {
        width: 380px;
        left: 50%;
        transform: translate(-50%);

    }

}

/* Responsive for tablet device */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .exercise {
        width: auto;
        height: 570px;
    }

    .add-list-button {
        width: 190px;
        left: 50%;
        transform: translateX(-50%);
    }
}