.App{
    background-color: #E6E7E9;
}
a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 767.98px){

.App{
  margin-bottom: 20px;
}
}